/*
Primary Color: 10cab7
Secondary Color: 2c4755
*/

* {
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family: 'Work Sans', sans-serif;
}


main {
  height: 400px;
  width: 100%;
  background-image: url("../images/main-cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -75px ;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main .introduction {
  line-height: 1.6;
}

.heading {
  color:#10cab7;
  font-size: 55px;
  font-weight: bolder;
}

.text {
  color:#2c4755;
}

.black-text {
  color: #575757;
}

.intro-text {
  width: 80%;
  margin: 0 auto;
}

/* FEATURES STYLE */


.features {
  width: 90%;
  margin: 2rem auto;
}


.grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}


.feature {
  margin: 0px 1rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
  text-align: center;
  padding: 1rem;
}

.feature:nth-child(2) {
  box-shadow: 0 4px 5px #12121250;
}
 i {
  color: #10cab7;
  font-size: 30px;
}


.feature-title {
  font-weight: bolder;
  font-size: 20px;
}

.feature-description {
  font-size: 15px;
  line-height: 1.6;
}


.section {
  margin: 2rem 0;
  padding: 1rem;
  /* background: red; */
}

.section__heading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-area: heading;
}

.section__heading_title {
  color: #f6f6f6;
  font-size: 120px;
}

.custom-text {
  position:absolute;
  bottom: 80px;
  font-size: 25px;
}

.section.services {
  /*  */
  display: grid;
  width: 80%;
  margin:2rem auto;
  /* margin-bottom: 2rem; */
  grid-template-areas: "heading heading heading heading heading heading heading heading heading heading heading heading" "ser ser ser ser ser ser ser ser ser box box box";
}

.grid.col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-area: ser;
}

.grid.col-2 .item {
  width: 75%;
  padding: 1rem;
}

.service i {
  float:left;
  margin-right: 1rem;
  margin-top: .7rem;
}

.box {
  grid-area: box;
  width: 300px;
  height: 100%;
  position: relative;
}

.background {
  width: 100px;
  height: 100%;
  background: #2c4755;
  float:right;
}

.front {
  width: 250px;
  height: 300px;
  background-color:#eee;
  position: absolute;
  top:50%;
  right: 50px;
  transform: translateY(-50%);
  background: url('../images/wolf.jpg');
  background-size: cover;
  background-position: center center;
}

.service-title {
  font-weight: bolder;
  font-size: 20px;
  margin-top: 1rem;
}

.service-description {
  line-height: 1.6;
  margin-top:1.5rem;
  font-weight: 300;
}



/* PORTFOLIO SECTION STYLE */

.portfolio .section__heading_title {
  color: #ebeced;
}

.grid.col-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.portfolio {
  background: #fafafa;
}
.item.project {
  line-height: 1.6;
  width: 100%;
  margin:1rem;
}

.project-img {
  width:100%;
  height:300px;
  object-fit: cover;
}
.project-title {
  font-size: 20px;
  font-weight: bold;
}

.project-description {
  color: #4d4c4c;
}


/* ABOUT STYLE */

.about {
  margin: 2rem auto;
}
.about-container {
  width: 70%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 4rem;
}

.info {
  line-height: 2;
}

.main-info {
  font-weight: bolder;
}

.line {
  width: 200px;
  height: 2px;
  background: #10cab7;
  margin:2rem 0;
}
.about-box {
  position:relative;
  height: 100%;
}
.green-box {
  background: #10cab7;
  width: 100px;
  height: 100%;
  position: absolute;
  top:0;
  right:0;
}

.white-box {
  height: 80%;
  width: 50px;
  position: absolute;
  top:0;
  right:0;
  background: white;
  z-index: 2;
}

.front-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20px;
  right: 70px;
  z-index: 3;
  background: url('../images/main-cover.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 6px 10px  #2c475540;
}


/* CONTACT STYLLING */

.contact {
  background: #fafafa;
}

.contact .section__heading_title {
  color: #ebeced;
}

.contact-info {
  width: 70%;
  margin:0 auto;
}

.contact-info .heading {
  color: #2c4755;
}

.contact-info .heading.green {
  color: #10cab7;
}


@media screen and (max-width:768px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .feature:nth-child(2) {
    box-shadow: none;
  }
  .grid.col-2 {
    grid-template-columns: 1fr;
  }
  .section.services {
    grid-template-areas:none;
  }
  .services .box {
    display: none;
  }

  .section__heading {
    display: block;
    height: fit-content;
    /* background: yellow; */
    text-align: center;
  }

  .section__heading p{
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
  }

  .section__heading_title {
    font-size:55px; 
  }

  .grid.col-3 {
    flex-direction: column;
  }

  .section.services {
    display: block;
  }
  .section.services   {
    width: 100%;
  }
  .grid.col-2 .item {
    width: 100%;
    padding: 1rem;
  }

  .about {
    padding: 0 1rem;
  }
  .about-box {
    display: none !important; 
  }
  .about-container {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .about .info {
    width: 90% !important;
    margin: 0 auto;
  }
  .contact-info {
    width: 90%;
    margin:0 auto;
  }
  
  .contact-info .heading {
    color: #2c4755;
    font-size: 25px;
  }
  
  .contact-info .heading.green {
    color: #10cab7;
    cursor: pointer;
  }
}